<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>answers</servlet-name>
        <servlet-class>servlet.AnswersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>answers</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adduser</servlet-name>
        <servlet-class>servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adduser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addquestion</servlet-name>
        <servlet-class>servlet.AddQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addquestion</servlet-name>
        <url-pattern>/addquestion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>question</servlet-name>
        <servlet-class>servlet.QuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>question</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>
</web-app>